<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Page d'ajout de relation</title>
</head>
<body>
<div class="nav-bar">
    <a th:href="@{/transfert}" >Transférer</a>
    <a th:href="@{/profile}" >Profil</a>
    <a th:href="@{/connections}" class="active" >Ajouter Relation</a>
    <a th:href="@{/logout}" >Se déconnecter</a>
</div>
<div class="container">
    <h2>Chercher une relation</h2>
    <div th:if="${successMessage}" class="message success">
        <p th:text="${successMessage}"></p>
    </div>

    <div th:if="${errorMessage}" class="message error">
        <p th:text="${errorMessage}"></p>
    </div>

    <form th:action="@{/connections}" method="post">
        <div class="form-group">
            <input type="email" id="email" name="email" required
                   placeholder="Saisir une adresse mail">
        </div>
        <button type="submit">Ajouter</button>
    </form>

    <div class="connections-list">
        <h3>Mes Relations</h3>

        <div th:if="${#lists.isEmpty(connections)}" class="no-connections">
            <p>Vous n'avez pas encore de relations</p>
        </div>

        <table th:if="${!#lists.isEmpty(connections)}" class="connections-table">
            <thead>
            <tr>
                <th>Nom d'utilisateur</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="connection : ${connections}">
                <td th:text="${connection.getRealUsername()}"></td>
                <td th:text="${connection.email}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="pagination" th:if="${connections != null and !connections.empty}">
        <a th:if="${currentPage > 0}"
           th:href="@{/connections(page=${currentPage - 1})}"
           class="pagination-button">
            &laquo; Précédent
        </a>

        <span class="current-page" th:text="${currentPage + 1}"></span>

        <a th:if="${currentPage + 1 < totalPages}"
           th:href="@{/connections(page=${currentPage + 1})}"
           class="pagination-button">
            Suivant &raquo;
        </a>
    </div>
</div>
</body>
</html>