<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page d'ajout de relation</title>
</head>
<body>
<div class="nav-bar">
    <a th:href="@{/transfer}" >Transférer</a>
    <a th:href="@{/profile}" >Profil</a>
    <a th:href="@{/connections}" class="active" >Ajouter Relation</a>
    <a th:href="@{/logout}" >Se déconnecter</a>
</div>
<div class="container">
    <h2>Chercher une relation</h2>
    <!-- Success Message -->
    <div th:if="${successMessage}" class="message success">
        <p th:text="${successMessage}"></p>
    </div>

    <!-- Error Message -->
    <div th:if="${errorMessage}" class="message error">
        <p th:text="${errorMessage}"></p>
    </div>

    <form th:action="@{/connections}" method="post">
        <div class="form-group">
            <input type="email" id="email" name="email" required
                   placeholder="Saisir une adresse mail">
        </div>

        <button type="submit">Ajouter</button>
    </form>
</div>
</body>
</html>