<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile page</title>
</head>
<body>
<div class ="profile-container">
    <div class="nav-bar">
        <a th:href="@{/transfer}" >Transférer</a>
        <a th:href="@{/profile}" >Profil</a>
        <a th:href="@{/connections}" >Ajouter Relation</a>
        <a th:href="@{/logout}" >Se déconnecter</a>
    </div>
    <h2> Profile </h2>
    <div class ="profile-info">
        <p>Username:<span th:text="${user.username}"></span></p>
        <p>Mail:<span th:text="${user.email}"></span></p>
        <p>AccountID:<span th:text="${user.account.id}"></span></p>

    </div>

</div>

</body>
</html>