<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Transfert - Pay My Buddy</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="nav-page">
<div class="nav-bar">
    <div class="logo">Pay My Buddy</div>
        <div class="nav-links">
            <a th:href="@{/transfert}" class="active">Transférer</a>
            <a th:href="@{/profile}">Profil</a>
            <a th:href="@{/connections}">Ajouter Relation</a>
            <a th:href="@{/logout}">Se déconnecter</a>
        </div>
</div>
<!--<div class="messages">
    <div th:if="${successMessage}" class="message success">
        <p th:text="${successMessage}"></p>
    </div>
    <div th:if="${errorMessage}" class="message error">
        <p th:text="${errorMessage}"></p>
    </div>
</div>-->
<div class="transfer-container">

    <div class="balance-section">
        <h3>Solde du compte</h3>
        <p class="balance-amount" th:text="${#numbers.formatDecimal(balance, 1, 'WHITESPACE', 2, 'POINT') + ' €'}">0.00 €</p>
    </div>
    <div class="transfer-form">
        <form th:action="@{/transfert/add}" method="post" onsubmit="return confirmTransaction(event)">
            <div class="form-group">
                <label for="type">Type d'opération:</label>
                <select id="type" name="type" onchange="updateFormFields()">
                    <option value="TRANSFERT" selected>Transfert</option>
                    <option value="VIREMENT RENTRANT">Virement rentrant</option>
                    <option value="VIREMENT SORTANT">Virement sortant</option>
                </select>
            </div>

            <div class="form-group"  id="connection-field" style="display:none">
                <label for="receiver">Destinataire:</label>
                <select id="receiver" name="receiverId" required>
                    <option value="">Sélectionnez une relation</option>
                    <th:block th:each="connection : ${user.connections}">
                        <option th:value="${connection.id}" th:text="${connection.getRealUsername()}"></option>
                    </th:block>
                </select>
            </div>

            <div class="form-group" id="description-field">
                <label for="description">Description:</label>
                <input type="text" id="description" name="description">
            </div>

            <div class="form-group">
                <label for="amount" id="amount-label">Montant:</label>
                <div class="amount-input-container">
                <input type="number"
                       id="amount"
                       name="amount"
                       aria-labelledby="amount-label"
                       aria-describedby="amount-help"
                       step="1.00"
                       min="1.00"
                       value="0"
                       placeholder="0 €"
                       required
                       oninvalid="this.setCustomValidity('Le montant minimum est de 1€')"
                       oninput="this.setCustomValidity('')">
                    <span class="currency-symbol">€</span>
                </div>
            </div>

            <div class="form-group button-container">
                <button type="submit">Payer</button>
            </div>

        </form>
    </div>
    <div class="transfert-list">
        <h3>Mes Transactions</h3>

        <div th:if="${#lists.isEmpty(transactions)}" class="no-connections">
            <p>Vous n'avez pas encore de transfert</p>
        </div>

        <table class="transactions-table">
            <thead>
            <tr>
                <th>Relations</th>
                <th>Description</th>
                <th>Date</th>
                <th>Montant</th>
                <th>Frais</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="transaction : ${transactions}">

                <td th:text="${transaction.type.contains('VIREMENT') ?
                     'Ma banque' :
                      (transaction.type == 'TRANSFERT ENTRANT' ?
                            transaction.sender.getRealUsername() :
                            transaction.receiver.getRealUsername())}">
                </td>
                <td th:text="${transaction.description}"></td>
                <td th:text="${#dates.format(transaction.date,'dd/MM/yyyy HH:mm')}"></td>
                <td th:text="${#numbers.formatDecimal(transaction.amount, 1,  'WHITESPACE', 2, 'POINT') + ' €'}"></td>
                <td th:text="${transaction.type == 'TRANSFERT ENTRANT' ? '0.00 €':#numbers.formatDecimal(transaction.fee, 1, 2) + ' €'}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="pagination">
        <a th:if="${currentPage > 0}" th:href="@{/transfert(page=${currentPage - 1})}" class="pagination-button">&laquo; Précédent</a>
        <span class="current-page" th:text="${currentPage + 1}"></span>
        <a th:if="${currentPage + 1 < totalPages}" th:href="@{/transfert(page=${currentPage + 1})}" class="pagination-button">Suivant &raquo;</a>
    </div>
</div>

</body>
<script>
    //Charge UpdateFormFields quand le page est chargée
    document.addEventListener('DOMContentLoaded', function() {
        updateFormFields();
    });
    //Change l'affichage en fonction du type de transfert choisi
    function updateFormFields() {
        const type = document.getElementById('type').value;
        const connectionField = document.getElementById('connection-field');
        const descriptionField = document.getElementById('description-field');
        const receiverSelect = document.getElementById('receiver');

        if (type === 'TRANSFERT') {
            connectionField.style.display = 'block';
            descriptionField.style.display = 'block';
            receiverSelect.required = true;
        } else if (type.includes('VIREMENT')) {
            connectionField.style.display = 'none';
            descriptionField.style.display = 'none';
            receiverSelect.required = false;
            document.getElementById('description').value = type;
        }
    }
    function confirmTransaction(event) {
        const balance = [[${balance}]];
        event.preventDefault(); // Empêche l'envoi immédiat du formulaire

        const amount = parseFloat(document.getElementById('amount').value);
        const type = document.getElementById('type').value;
        const fee = amount * 0.005;
        const totalAmount = amount + fee;

        let message;

    // Vérification du solde pour les opérations sortantes
        if ((type === 'TRANSFERT' || type === 'VIREMENT SORTANT') && totalAmount > balance) {
            alert(`Solde insuffisant pour effectuer cette opération\n\n` +
                `Solde actuel : ${balance.toFixed(2)}€\n` +
                `Montant demandé : ${amount.toFixed(2)}€\n` +
                `Frais de service (0.5%): ${fee.toFixed(2)}€\n` +
                `Total nécessaire : ${totalAmount.toFixed(2)}€`);
            return false;
        }

        if (type === 'TRANSFERT') {
            const receiver = document.getElementById('receiver');
            const receiverName = receiver.options[receiver.selectedIndex].text; //Sélectionne le texte récupéré dans le menu déroulant
            message = `Confirmez-vous le transfert de ${amount.toFixed(2)}€ vers ${receiverName} ?\n` +
                `Frais de service (0.5%): ${fee.toFixed(2)}€\n` +
                `Total : ${totalAmount.toFixed(2)}€`;
        } else if (type === 'VIREMENT SORTANT') {
            message = `Confirmez-vous le ${type.toLowerCase()} de ${amount.toFixed(2)}€ ?\n` +
                `Frais de service (0.5%): ${fee.toFixed(2)}€\n` +
                `Total : ${totalAmount.toFixed(2)}€`;
        }
        else {
            message = `Confirmez-vous le ${type.toLowerCase()} de ${amount.toFixed(2)}€ ?\n` +
                `Frais de service : 0 €\n` +
                `Total : ${amount.toFixed(2)}€`;
        }

        if (confirm(message)) {
            event.target.submit(); // Envoie le formulaire si confirmé
            return true;
        }
        return false;
    }
</script>
</html>